.stepContainer{
    background-color:#0c0c0c;
    //max-width:80vw!important;
   
    .intro{
        font-size:1.2em;

        img{
            max-height:600px;
            margin:2em;
        }
    }

}