@import "~bulma/bulma.sass";
@import "~bulma-list/sass/bulma-list.sass";

$purple1 : #3F1973;
$purple2 : #1C0C40;
$purple3 : #110826;
$blue1 : #1811D9;
$blue2 : #120DA6;

.loaderWrapper {
    height: 100vh;
    overflow: hidden;
  }

.is-gone{
    display:none;
  }

.banner{
    background-color:#0c0c0c;
    height: 100vh;
    overflow: hidden;
}

main{
    background-color:#0c0c0c;
}

h1.title{
    color:$blue1!important;
}

p{
    color: white;
}

a{
    color:white!important;
}


@media(max-width: 992px){
    .loaderWrapper{
        height: auto;
        overflow: scroll;
    }

}
