#animation{
    position:relative;

    .button{
        position: absolute;
        bottom: 250px;
        left: 47%;
    }
}

@media(max-width: 992px){
    #animation{
        height: 100%;
        .button{
            position: absolute;
            bottom: 50px;
            left: 40%;
        }
    }
}