$purple1 : #3F1973;
$purple2 : #1C0C40;
$purple3 : #110826;
$blue1 : #1811D9;
$blue2 : #120DA6;


.outputMessage {
  padding: 1em;
  color: #fff;
  background-color: $purple1;
  border-radius: 5px;
}

.formWrapper {
    //height: 100vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    background-color:#00000000
  }

  .outter {
    padding: 4em 2em 1em 2em;
background-color: #060606;
clip-path: polygon(0% 4.25%, 5.2% 0%, 17.16% 0%, 22.57% 4.25%, 94% 4.25%, 100% 10.96%, 100% 94.5%, 94% 100%, 5.2% 100%, 0% 94.5%);
  }

  .outterShadow{
    background-color: $blue1;
    padding: 0.1em;
    clip-path: polygon(0% 4.25%, 5.2% 0%, 18.16% 0%, 23.57% 4.25%, 94% 4.25%, 100% 10.96%, 100% 94.5%, 94% 100%, 5.2% 100%, 0% 94.5%);
  }
  
  .fieldSubmit{
    margin: 1em 0em;
  }

  .input{
    background-color:#313131;
    color:#fff;
  }

  .label{
    font-size:0.7em;
  }

  .control{
    margin-bottom: 0.5em;
  }

  .sendBut{
    background-color: $blue1!important;
    color:white!important;
  }

  .sendBut:hover {
    background-color: white!important;
    color:$blue1!important;
  }

  .err{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:red;
    font-size: 0.7em;
  }