$logo-color: #000026;
$verde1 : #219653;
$claro : #EEEEEE;
$naranja : #E3651B;


    .portada-wrapper{
		
		position: fixed;
		z-index:20;
		height:fit-content;

		.video-player{
			position: absolute;
			z-index: -1;
		}
		.scrolltext {
			position: absolute;
			bottom: 5%;
			left: 48.5%;
			font-family: 'Bakbak One', cursive;
			cursor:pointer;
		  }

		.svgPortada{
			> rect {
				-webkit-mask: url(#mask);
				mask: url(#mask);
			  }
			  
			  rect {
				fill: #fff;
			  }

			  .bgBlack{
				fill: #000000;
			  }
		
	
			  .studiotext{
				opacity:0;
				font-family: 'Bakbak One', cursive;
				//fill:$claro;
				font-size:3em;
	
			  }
	
			  .menuitem{
				font-family: 'Bakbak One', cursive;
				fill:greenyellow;
				cursor:pointer;
				opacity:0;
			  }
		}

		
    }

	//PORTADA MOBILE

	//QUERY

	@media(max-width: 576px){
		.portada-wrapper{
			height: 100%;

			.video-player{
				max-width: fit-content;
			}

		}
	}